.element__heart {
  height: 19px;
  width: 27px;
  align-self: flex-end;
  cursor: pointer;
  transition: opacity 1s linear;
  background-image: url("../../../images/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: white;
}

.element__heart:hover {
  opacity: .5;
}

@media screen and (max-width: 320px ){
  .element__heart {
    margin-bottom: 4px;
  }
}