.profile {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 760px){
  .profile {
    display: block;
    margin-top: 42px;
    margin-left: 19px;
    margin-right: 19px;
    justify-content: center;
  }
}