.popup__container {
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  min-width: 240px;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: auto;
}

.popup_with_image .popup__container {
  background: transparent;
}

@media screen and (max-width: 895px){
  .popup_with_image .popup__container , .popup__container{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 533px) {
  .popup__container {
    margin-right: 19px;
    margin-left: 19px;
  }
}